:root {
        --color-primary: #e3d3d3;
        --color-secondary: #1f0101;
        --color-tertiary: hsl(247, 80%, 20%);
        --color-accent1: rgb(255, 0, 0);
        --color-accent2: rgb(255, 174, 34);
        --main-gradient: linear-gradient(
        171deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 39%,
        rgba(252, 176, 69, 1) 100%
  );
    }

[data-theme="dark"] {
        --color-primary: #000000;
        --color-secondary: #008000;
        --color-tertiary: #37AA9C;
        --color-accent1: #ff0000;
        --color-accent2: #f56a00;
        --text-primary: #060606;
        --main-gradient: linear-gradient(181deg,rgba(58, 105, 180, 1) 0%, rgba(148, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

body {
    background: var(--color-secondary);
}

div {
    color: var(--color-secondary);
    padding: 0;
    margin: 0;
}

.darkmode-toggle-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: color 250ms ease;
    color: var(--color-secondary);
}

.darkmode-toggle-container::before {
    content: "";
    background-color: var(--color-secondary);
    transform: translateX(-105%);
    transition: transform 400ms ease;
    z-index: 0;
    inset: 0;
    position: absolute;
}

.darkmode-toggle-container:hover::before {
    transform: translateX(0);
}

.darkmode-toggle-container > * {
    position: relative;
    z-index: 1;
}

.darkmode-toggle-container:hover {
    color: var(--color-primary);
}

.darkmode-button {
    padding:0;
    margin:0;
    background-color: transparent;
    border: 0;
    color: inherit;
}

.darkmode-button :hover {
    cursor:crosshair;
}

.darkmode-icon {
    color:inherit;
}
